Минимальные знания и навыки участников группы

1. Грамматика русского языка или украинского, если Вы планируете работать с укроязычными проетами. Но, в основном, группа ориентирована на русский язык.
2. Базовый английский. Без базового английского в айти не войти.
3. Слепой десятипальцевый метод печати. Наверное, это пунтк надо ставить на первое место? Могу помочь в освоении, если надо, но придется работать.
4. Основы программирования изучаем в рамках группы.
5. Если какой-то из пунктов у Вас хромает, работаем над устранением.

Не стесняемся обращаться за помощью к участникам группы!